nav {
  display: block;
  text-align: left;
  width: 100%;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.nav a {
  display:block;
  background: white;
  color: black;
  text-decoration: none;
  padding: 0.8em 0.8em .8em .8em;
  font-size: 14px;
  font-family: "Helvicta", sans-serif,"Arial";
  font-weight: bold;
  letter-spacing: .3px;
  position: relative;
}
.nav{
  display: inline-block;
}
.nav li {
  position: relative;
}
.nav > li {
  float: left;
}
.nav > li > a {
  ::margin-bottom: 1px;
}
.nav > li:hover,
.nav > li:hover > a {
  ::border-bottom-color: orange;
}
.nav li:hover > a {
  color: #89c348;
}
.nav > li:first-child {
  ::border-radius: 4px 0 0 4px;
  margin-left: .5em;
}
.nav > li:first-child > a {
  ::border-radius: 4px 0 0 0;
}
.nav > li:last-child {
  ::border-radius: 0 0 4px 0;
  ::margin-right: 0;
}
.nav > li:last-child > a {
  ::border-radius: 0 4px 0 0;
}
.nav li li a {
  color: white;
  background-color: #123054;   /* Hutch Dark Blue */
}

.nav li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50% ;
  right:5px;
 }

/* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  min-width: 100%;
}
.nav > li li:hover > ul {
  left: 100%;
  margin-left: 1px;
} 

